<header>
	<nav class = "navbar navbar-expand-sm
		navbar-toggleable-sm navbar-light
		bg-white border-bottom box-shadow">
		<div class ="container-fluid">
			<a class ="navbar-brand"
				asp-area="admin"
				asp-controller="Dashboard"
				asp-action"Index">
					Tips and Tricks 
			</a>

			<button class ="navbar-toggler"
					type="button"
					data-bs-toggler="collapse"
					data-bs-target=".navabr-collapse"
					aria-controls = "navbarSupportedContent"
					aria-expland="false"
					aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="navbar-collapse collapse
				d-sm-inline-flex
				justify-content-between">
				<ul class="navbar-nav flex-grow-1">
					<li class"nav-item">
						<a class="nav-link text-dark"
							asp-area="admin"
							asp-controller="Authors"
							asp-action="Index">
							Tác giả
						</a>
					</li>	
					<li class"nav-item">
						<a class="nav-link text-dark"
							asp-area="admin"
							asp-controller="Categories"
							asp-action="Index"
							title="Xem danh sách chủ đề">
								Chủ đề
						</a>
					</li>
					<li class"nav-item">
						<a class="nav-link text-dark"
							asp-area="admin"
							asp-controller="Tags"
							asp-action="Index"
							title="Xem danh sách thẻ/từ khóa">
								Giới thiệu
						</a>
					</li>
					<li class"nav-item">
						<a class="nav-link text-dark"
							asp-controller="Posts"
							asp-action="Index"
							asp-area="Admin"
							title="Tải danh sách bài viết">
								Bài viết
						</a>
					</li>
					<li class"nav-item">
						<a class="nav-link text-dark"
							asp-area="admin"
							asp-controller="Comments"
							asp-action="Index"
							title="Tải danh sách bình luận">
								Bình luận
						</a>
						</li>
				</ul>
			</div>
		</div>
	</nav>
</header>