<header>
	<nav class = "nvabar nvabar-expand-sm
				nvabar-toggleable-sm nvabar-light
				bg-white border-bottom box-shadow">
			<div class ="container-fluid">
				<a class ="nvabar-brand"
					asp-area=""
					asp-controller="Blog"
					asp-action"Index">
				Tips and Tricks</a>
			</div></nav>
</header>